{% set indent = 4 %}
{% for record in records %}
{{ record.name }} {
{% for block in record.blocks recursive %}
{% if block.blocks is defined %}
{{ block.name|indent((indent * loop.depth), true) }} {% if block.parameters is defined %}{% for param in block.parameters %}{{ param }} {% endfor %}{% endif %}{
{{ loop(block.blocks) }}
{{ '}'|indent((indent * loop.depth), true) }}
{% else %}
{{ block.name|indent((indent * loop.depth), true) }} {% if block.parameters is defined %}{% for param in block.parameters %}{{ param }} {% endfor %}{% endif %}

{% endif %}
{% endfor %}
}

{% endfor %}
