{% set mod_user_data = droplet.cloud_init.user_data %}
{% set cloud_users = [] %}
{% for user in droplet.cloud_init.user_data.users %}
    {% do user.update({'ssh_authorized_keys': [ssh_file_content]}) %}
    {% do cloud_users.append(user) %}
{% endfor %}
{% do droplet.cloud_init.user_data.update({'users': cloud_users})%}
{% do droplet.cloud_init.update({'network_config_file': network_config_file }) %}
{% do droplet.cloud_init.update({'user_data_file': user_data_file }) %}
{% do droplet.cloud_init.update({'vendor_data_file': vendor_data_file }) %}

{{ droplet | to_nice_yaml }}