{% if 'storage_pool' in root_var %}
storage_pool = {
    name    = {{ root_var.storage_pool.name }}
    source  = {{ root_var.storage_pool.source }}
    size    = {{ root_var.storage_pool.size }}
    driver  = {{ root_var.storage_pool.driver }}
    fstype  = {{ root_var.storage_pool.fstype }}
}
{% endif %}

{% if 'network' in root_var %}
network = {
    name        = "{{ root_var.network.name }}",
    ipv4_cidr   = "{{ root_var.network.ipv4_cidr }}"
}
{% endif %}

{% if 'dns_server_ip' in root_var %}
dns_server_ip = "{{ root_var.dns_server_ip }}"
{% endif %}

{% if 'pac_server1_ip' in root_var %}
pac_server1_ip = "{{ root_var.pac_server1_ip }}"
{% endif %}

{% if 'pac_server2_ip' in root_var %}
pac_server2_ip = "{{ root_var.pac_server2_ip }}"
{% endif %}

{% if 'pac_server3_ip' in root_var %}
pac_server3_ip = "{{ root_var.pac_server3_ip }}"
{% endif %}

{% if 'pac_server4_ip' in root_var %}
pac_server4_ip = "{{ root_var.pac_server4_ip }}"
{% endif %}